<h1>Welcome Clark Kent!</h1>
<br/>
<h3>Personal Information:</h3>
<fieldset>
  Name: Clark Kent<br/>
  Street: 4626 Smallville Drive<br/>
  City: Metropolis<br/>
  Zipcode: 64153<br/>
  Phone Number: (410)453-1038<br/>
  Email: ckent@dailyplanet.com<br/>
  Date of Birth: 1978-02-15<br/>
  Password: *********<br/>
  <button type="button">Edit</button>


</fieldset>
<br/><br/>
<h3>Work Information:</h3>
<fieldset>
  Account Type: Administrator<br/>
  ID Number: 1<br/>
  Username: ckent1<br/>
  Start Date: 2013-07-24<br/>



</fieldset>
