<h1>Course Catalogue</h1>

<h2>Scarsdale Tudor Center</h2>
<fieldset>
  Math<br/>
  <button type="button" class="collapsible">Math</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
  Science<br/>
  <button type="button" class="collapsible">Math</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
</fieldset>

<h2>Rachel's Day Care</h2>
<fieldset>
  Pre-K 3<br/>
  <button type="button" class="collapsible">Pre-K 3</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
</fieldset>

<h2>Kim's Dance School</h2>
<fieldset>
  Ballet<br/>
  <button type="button" class="collapsible">Ballet</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
  Hip-Hop<br/>
  <button type="button" class="collapsible">Hip-Hop</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
</fieldset>

<h2>Dundalk Music Academy</h2>
<fieldset>
  Piano<br/>
  <button type="button" class="collapsible">Piano</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
  Flute<br/>
  <button type="button" class="collapsible">Flute</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
</fieldset>

<h2>Kempo Karate Academy</h2>
<fieldset>
  Beginner Karate<br/>
  <button type="button" class="collapsible">Beginner Karate</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
  Intermediate Karate<br/>
  <button type="button" class="collapsible">Intermediate Karate</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
  Advanced Karate<br/>
  <button type="button" class="collapsible">Advanced Karate</button>
  <div class="content">
    <p>Lorem ipsum...</p>
  </div>
</fieldset>
