<body>


<!-- Main -->
<div class="main">
  <h2>Student Profile</h2>
  <div class="card">
    <div class="card-body">
      <i class="fa fa-pen fa-xs edit"></i>
      <table>
        <tbody>
        <tr>
          <td>Name</td>
          <td>:</td>
          <td>John Smith</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td>johnsmith@gmail.com</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>:</td>
          <td>Towson, MD</td>
        </tr>
        <tr>
          <td>DOB</td>
          <td>:</td>
          <td>January 1st, 2021</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
<!-- End -->
</body>

